.DS_Store
debug*
data/
default/
eval_model_weights/
tensorboard-logs/
tensorboard_logs/
lightning_logs/
lightning_logs_old/
lightning-logs/
checkpoints/
results/
build/
q.log/
Models_/
wandb/
*.png
*/__pycache__
*/**/__pycache__
*/**/**/__pycache__
*/**/**/**/__pycache__
*/**/**/**/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.sh
*/**/.sh
old/
*/old/
*/**/old/
*/**/**/old/



